<!DOCTYPE html>
<html>
<head>
  <title>HideAndSeek</title>
  <%= stylesheet_link_tag    "hide_and_seek/application", media: "all" %>
  <%= javascript_include_tag "hide_and_seek/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
